<% provide(:title, @customer.name) %>

<h1><%= @customer.name %></h1>
<p><%= @customer.email %></p>
<p><%= @customer.phone_number %></p>
<p><%= @customer.zip_code %></p>
<p><%= @customer.profile_info %></p>